In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('adult_data.csv')

In [5]:
colnames = [
    'Age',
    'Workclass',
    'Education',
    'Marital_Status',
    'Occupation',
    'Relationship',
    'Race',
    'Sex',
    'Capital_Gain',
    'Capital_Loss',
    'Country',
    'Income'
]

data.columns = colnames

In [6]:
data.head()

,Age,Workclass,Education,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Country,Income
0,90,?,9,Widowed,?,Not-in-family,White,Female,0,4356,United-States,<=50K
1,82,Private,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,United-States,<=50K
2,66,?,10,Widowed,?,Unmarried,Black,Female,0,4356,United-States,<=50K
3,54,Private,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,United-States,<=50K
4,41,Private,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,United-States,<=50K

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder = LabelEncoder()

In [9]:
for col in data.columns:
    if data[col].dtypes == 'object' :
        data[col] = encoder.fit_transform(data[col])

In [10]:
data.head()

,Age,Workclass,Education,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Country,Income
0,90,0,9,6,0,1,4,0,0,4356,39,0
1,82,4,9,6,4,1,4,0,0,4356,39,0
2,66,0,10,6,0,4,2,0,0,4356,39,0
3,54,4,4,0,7,4,4,0,0,3900,39,0
4,41,4,10,5,10,3,4,0,0,3900,39,0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = data.drop('Income', axis=1)
y = data['Income']

print(X.shape)
print(y.shape)

(32561, 11)
(32561,)

In [13]:
X_train, X_test, y_train, y_test = train_test_split (X,y, test_size = 0.2, random_state = 40)

In [14]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn import tree

In [15]:
model = DecisionTreeClassifier(criterion = 'entropy', random_state = 40, max_depth = 3, min_samples_leaf = 5)
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=40,
            splitter='best')

In [16]:
prediction = model.predict(X_test)

prediction

array([0, 0, 1, ..., 1, 0, 0])

In [17]:
print(accuracy_score(y_test, prediction))

0.8427759864885613

In [18]:
print(confusion_matrix(y_test, prediction))

[[4750  204]
 [ 820  739]]

In [19]:
import pickle
pickle.dump(model, open("income_tree_model.pkl","wb"))

In [20]:
#import numpy as np

In [21]:
#new_prediction = model.predict(scaler.transform(np.array([[50, 4, 16, 2, 10, 0, 4, 1, 5000, 0, 39]])))
#new_prediction = (new_prediction > 0.5)

In [22]:
"""
if new_prediction == True:
    print('Greater than 50K')
else:
    print('Less than 50K')
    
"""

"\nif new_prediction == True:\n    print('Greater than 50K')\nelse:\n    print('Less than 50K')\n    \n"

In [23]:
import pickle 
print (pickle.format_version)

4.0

In [24]:
import sklearn
print(sklearn.__version__)

0.20.3